{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}


{% block content %}
<div class="row content">
    <div class="row">
        <section>
            <h1 class="text-center h1">Oscar Andres Rodriguez Fernandez</h1>
            <img src="/static/about.jpg" alt="OARF" class="img-thumbnail about_pic rounded mx-auto d-block" style="height: 300px;">
        </section>
    </div>
    <div class="container">
        <div class="row m-3">
            <p class="font-monospace">
                I am a bilingual telecommunications engineer with a strong passion for development and automation.<br>
                I have experience in managing Hyper-V and VMWare virtualization platforms, as well as deploying and administering applications on public clouds like Azure and AWS.<br>
                I have also worked with backup tools such as VEEAM and ZERTO, and have a solid understanding of operating systems and Active Directory.<br>
                I am passionate about development and automation, and have worked on projects involving Python, scripting, and automation with Powershell. <br>
                I also have experience with IaC using terraform and in managing agile technologies like GIT and Azure DevOps.<br>
                I am always eager to learn more and tackle new challenges in the field of development and technology, so I am ready to work on any project that allows me to continue growing professionally.
            </p>
        </div>
        
    </div>
</div>

{% endblock %}