<div id="edit-food" class="table-responsive" style="display: none;">
    <table class="table table-dark table-hover ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Origin</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
    {% for f in food %}
    <tbody>
      <tr>
        <td>{{f.name}}</td>
        <td>{{f.origin}}</td>
        <td>{{f.price}}</td>
        <td>
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#food{{f.id}}">
            <i class="bi bi-pencil"></i>
          </button>
          <a href="/food/delete_food/{{f.id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
          
          <div class="modal fade " id="food{{f.id}}" tabindex="-1" aria-labelledby="food{{f.id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content" style="background-color: rgb(31, 45, 105);">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: azure;">Edit {{f.name}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/food/update_food/{{f.id}}" method="post">
      
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Food name" id="name" name="name" value="{{f.name}}">
                      <span class="input-group-text">@</span>
                      <input type="text" class="form-control" placeholder="Origin" id="origin" name="origin" value="{{f.origin}}">
                    </div>
              
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1">Food type</span>
                      <select name="type" id="type" class="form-select">
                        <option selected>Select type</option>
                        {% for t in types%}
                        <option value="{{t.id}}">{{t.name}}</option>
                        {% endfor %}
                      </select>
                      <span class="input-group-text">Meal type</span>
                      <select name="meal" id="meal" class="form-select">
                        <option selected>Meal type</option>
                        {% for m in meals%}
                        <option value="{{m.id}}">{{m.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
              
                    <div class="input-group">
                      <span class="input-group-text">Ingredients</span>
                      <textarea class="form-control" id="ingredients" name="ingredients" placeholder="{{f.ingredients}}"></textarea>
                    </div>
              
                    <div class="input-group mt-3">
                      <span class="input-group-text">$</span>
                      <input type="number" class="form-control" placeholder="Food price" id="price" name="price" value="{{f.price}}">
                      <span class="input-group-text">URL</span>
                      <input type="text" class="form-control" placeholder="image url" id="image_url" name="image_url" value="{{f.image_url}}">
                      <button type="submit" class="btn btn-success"><i class="bi bi-file-plus"></i></button>
                    </div>
                  </form>
      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      
          {% endfor %}
        </td>
      </tr>  
    </tbody>  
  </table>
  </div>