<footer class="container-fluid  mt-2  " >
    <div class="row justify-content-center ">
      <p class="col-auto">Oscar Andrés Rodriguez</p>
      <a class="col-auto" href="https://www.facebook.com/Andres.kenji" target="_blank" ><i class="bi-facebook"></i></a>
      <a class="col-auto" href="https://twitter.com/Kenji_Andres" target="_blank" ><i class="bi-twitter-x"></i></a>
      <a class="col-auto" href="https://www.linkedin.com/in/oarf/" target="_blank"><i class="bi-linkedin"></i></a>
      <a class="col-auto" href="https://github.com/AndresKenji" target="_blank" ><i class="bi-github"></i></a>
    </div>
</footer>