{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block content %}


<div class="container menu-container mt-3 p-3">
  {% if rol in [1,2] %}
  
  <div class="row">
    <div class="col-sm-9">
      {% include 'add-food.html' %}
  
      {% include 'edit-food.html' %}

      {% include 'add-menu.html' %}

      {% include 'edit-menu.html' %}
      
    </div>
    <div class="col-sm-3">
  
      <div class="d-grid gap-2 mx-auto">
        <button class="btn btn-light" type="button" onclick="showForm('add-food')">Add Food/Drink</button>
        <button class="btn btn-outline-light" type="button" onclick="showForm('edit-food')">Edit Food/Drink</button>
        <button class="btn btn-success" type="button" onclick="showForm('add-menu')">Add menu</button>
        <button class="btn btn-outline-danger" type="button" onclick="showForm('edit-menu')">Delete menu</button>
        <button class="btn btn-info" type="button" onclick="hideMenuOptions()">Hide All</button>
      </div>
      
    </div>
  </div>
  {% endif %}
</div>

<div class="container text-center mt-3 p-3 justify-content-center menu-container" >    
  {% if menu %}
    <h1>Daily Menu</h1><br>
    
    <h3 class="mb-2">Dishes</h3>
    <div class="row justify-content-center">
        {% for item in menu if item["type"] == "food"%}
    
        <div class="col-3">
          <p>{{ item["name"] | title}}</p>
          <img src="{{item['image_url']}}" class="img-thumbnail" style="width: 200px; height: 200px;" alt='{{item["name"]}}'>
        </div>
    
        {% endfor %}
      
    </div>

    <h3 class="mb-2">Drinks</h3>

    <div class="row justify-content-center">
        {% for item in menu if item["type"] == "drink"%}
    
        <div class="col-3">
          <p>{{ item["name"] | title}}</p>
          <img src="{{item['image_url']}}" class="img-thumbnail" style="width: 200px; height: 200px;" alt='{{item["name"]}}'>
        </div>
    
        {% endfor %}
      
    </div>
    {% endif %}
  </div><br>



{% endblock %}