
<nav class="navbar navbar-expand-lg navbar-dark bg-black ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home"> <i class="bi-house-door-fill"></i>Home</a>
          </li>
        {% if session %}
          <li class="nav-item">
            <a class="nav-link" href="/menu"> <i class="bi-file-text-fill"></i>Menu</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/orders"> <i class="bi-list-check"></i>Orders</a>
          </li>
        {% endif %}
        {% if rol == 1%}
          <li class="nav-item">
            <a class="nav-link" href="/users/users"> <i class="bi-person-fill-gear"></i>Users</a>
          </li>
        {% endif %}

      </ul>
      {% if USERNAME  %}
      <a class="navbar-brand">Welcome {{ USERNAME | title }}</a>
      
      {% endif %} 
        {% if session == True %}
        <form class="d-flex" role="logout" method="post" action="/logout">
          <button class="btn btn-danger me-2" href="/logout" type="submit">Logout</button>
        </form>
          {% else %}
          <a class="btn btn-success me-2" href="/login">Login</a>
          {% endif %}
      </div>
    </div>
  </nav>