{% extends "layout.html" %}

{% block title %}
    Orders
{% endblock %}


{% block content %}

<div class="container menu-container mt-3 p-3 ">

    {% if rol in [1,3] %}

    <form action="/orders/add_order"  method="post">
        <table class="table table-dark table-hover p-1">
            <thead>
                <tr>
                    <th>Check</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu %}
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="{{item.food_id}}" id="food_id" name="food_id_{{item.food_id}}">
                    </td>
                    <td>
                        <label class="form-check-label" for="{{item.id}}"> {{item.name}} </label>
                    </td>
                    <td >
                        <input class="form-control" type="number" min="0" id="food_quantity" name="food_quantity_{{item.food_id}}" style="width: 80px;">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="detail" name="detail_{{item.food_id}}" >
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <select class="form-select m-2" aria-label="select customer" style="max-width: 180px;" name="customer_id">
                <option selected>Select Customer</option>
                {% for customer in customers %}
                <option value="{{customer.id}}">{{customer.name}} {{customer.last_name}}</option>
                {% endfor %}
              </select>

            <button type="submit" class="btn btn-light col-1 m-2">Create</button>
        </div>
        
    </form>
    
    <div class="row p-3">
        <table class="table table-dark table-hover p-1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>State</th>
                    <th>Customer</th>
                    <th>Details</th>
                    <th>Total</th>
                    <th>Invoice</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% if order.state != 'finished' %}
                <tr>
                    <td> {{order.id}} </td>
                    <td> {{order.state}} </td>
                    <td> {{order.user_name | title}} </td>
                    <td> 
                        {% for order_id, order_detail in order.details.items() %}
                        <p>{{ order_detail.food_name | title}} X {{ order_detail.food_quantity }} : {{ order_detail.price }}</p>
                        {% endfor %}
                    </td>
                    <td> {{order.total}} </td>
                    <td>
                        <a class="btn btn-success" href="/invoice/create_invoice/{{order.id}}"><i class="bi bi-cash-stack"></i> Pay</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    {% endif %}

    {% if rol in [1,2] %}

    <div class="row p-3">
        <table class="table table-dark table-hover p-1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Details</th>
                    <th>Current State </th>
                    <th>New State</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <form action="/orders/update_order/{{order.id}}" method="post"></form>
                <tr>
                    <td><input type="number" value="{{order.id}}" id="order_{{order.id}}" name="order_id" style="display: none;">
                        <label class="form-check-label" for="order_{{order.id}}"> {{order.id}} </label>
                    </td>
                    <td>
                        {% for order_id, order_detail in order.details.items() %}
                        <p>{{ order_detail.food_name | title}} X {{ order_detail.food_quantity }} : {{ order_detail.detail }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {{order.state}}
                    </td>
                    <td>
                        <select class="form-select" name="state_id">
                            <option selected>Select state</option>
                            <option value="2">Cooking</option>
                            <option value="3">Serve</option>
                            <option value="4">Finished</option>
                            <option value="5">Canceled</option>
                          </select>

                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-info m-2">Update</button>
                        <a href="/orders/delete_order/{{order.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endif %}
    
</div>


{% endblock %}