{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}


{% block content %}

<div class="container p-3" >
    <form action="/register" method="post" class="form-control " style="color: aliceblue; background-color: rgba(0, 0, 0, 0.9);">
        <h3 class="text-center">Register</h3>
        <div class="row align-items-center">
            <div class="col-md-6 ">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="name">
            </div>
            <div class=" col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last_name">
            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="col-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="col-auto pt-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-info mt-1 col-3">Add</button>
        </div>
    </form>

</div>

{% endblock %}