{% extends "layout.html" %}

{% block title %}
    Users Management
{% endblock %}


{% block content %}

<div class="container align-content-center mt-5" >
    <table class="table table-dark table-hover ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td> {{user.name | title}} </td>
                <td> {{user.last_name | title }} </td>
                <td> {{user.email}}</td>
                <td> {{user.rol}}</td>
                <td>
                    <a class="btn btn-outline-info" href="/users/update_user/{{ user.id }}">Edit</a>
                    <span>...</span>
                    <!-- <a class="btn btn-outline-danger" href='/users/delete_user/{{user.id}}'>Delete</a> -->
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{user.id}}">
                        Delete
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade bg-black bg-opacity-75" id="staticBackdrop{{user.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop{{user.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdrop{{user.id}}Label" style="color: black;">Delete User {{user.name}} ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-outline-danger" href='/users/delete_user/{{user.id}}'>Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
</div>
<div class="container bg-black bg-opacity-75 m-4 p-3" style="color: aliceblue; border-radius: 10px;">
    <h2 class="text-center">Add user</h2>
    <form action="/users/users" method="post">
        <div class="row align-items-center">
            <div class="col-md-5 ">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="name">
            </div>
            <div class=" col-md-5">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last_name">
            </div>
            <div class=" col-md-2">
                <label for="rol">Rol</label>
                <select name="rol" id="rol" class="form-select">
                    <option selected>Select rol</option>
                    <option value="1">Administrator</option>
                    <option value="2">Chef</option>
                    <option value="3">Waiter</option>
                    <option value="4">Customer</option>
                </select>
            </div>
        </div>
        <div class="row align-items-center">

            <div class="col-5">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="col-5">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="col-auto pt-4">
                <button type="submit" class="btn btn-primary ">Add</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}